* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-links {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-family: serif;
    letter-spacing: 1px;
}

.logo {
    margin-top: 20px;
}
















.form-container {
    width: 420px;
    margin: 50px auto;
}

.form-container h2 {
    font-size: 22px;
    margin-bottom: 25px;
}

label {
    display: block;
    font-size: 14px;
    margin-top: 20px;
}

.required {
    color: red;
}

input,
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    font-size: 14px;
    outline: none;
}

textarea {
    resize: vertical;
}

input:focus,
textarea:focus {
    border-bottom: 1px solid #000;
}

.error {
    color: red;
    font-size: 13px;
    margin: 5px 0 0;
}

.form-container button {
    display: block;
    margin: 30px auto;
    padding: 12px 40px;
    border: none;
    border-radius: 25px;
    background: #e0e0e0;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #d5d5d5;
}

.captcha-text {
    font-size: 12px;
    color: #666;
    text-align: center;
}

.captcha-text a {
    color: #666;
    text-decoration: underline;
}